h1 {
    color :peru;
} 
* {
    border :solid;
}
.title{
    background: beige;
    display : flex;
    justify-content : space-evenly;
}
.grid{
    display : flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.social{
    display : flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
}
h3 {
    text-align: center;
}
